<p><%= page_entries_info(games,model:"game") %></p>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Corporation</th>
        <th>Runner</th>
        <th style="width:120px;"><!-- actions --></th>
      </tr>
    </thead>
    <tbody>
    <% games.each do |game| %>
      <%= render partial: "games/table_row", locals: { game: game } %>
    <% end %>
  </tbody>
</table>

