<ul class="breadcrumb">
  <li><%= link_to "Leagues", leagues_path %></li>
  <li><%= link_to @league.display_name, league_path(@league.id,@league.slug) %></li>
  <li><%= link_to "Manage", edit_league_path(@league.id) %></li>
  <li class="active">Edit season</li>
</ul>

<h1>Edit season</h1>

<p>Coming soon</p>
