<h1>Important information about <%= @league.display_name %></h1>

<p>The following message is a broadcast from <%= @sender.display_name %>.</p>
<p>-----------------------------------------------</p>
<%= @message.html_safe %>
<p>-----------------------------------------------</p>
