<h1>League Invitation</h1>

<p>You have been invited to join <strong><%= @league.display_name %></strong></p>

<p><%= link_to "Click here", view_invite_league_members_url(@league.id,@token) %> to view this invitation.</p>
