<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <h2>Leagues</h2>
    <% @leagues.each do |league| %>
      <%= render partial: "leagues/short", locals: { league: league } %>
    <% end %>
    <div class="text-center"><small><%= paginate(@leagues) %></small></div>
  </div>
</div>
