    <h1>Leagues</h1>
<div class="row">
  <div class="col-md-3">
    <%= render partial: "leagues/sidebar", locals: {} %>
  </div>
  <div class="col-md-6">
    <% @leagues.each do |league| %>
      <%= render partial: "leagues/short", locals: { league: league } %>
    <% end %>
    <div class="text-center"><small><%= paginate(@leagues) %></small></div>
  </div>
  <div class="col-md-3">
    <%= render partial: "shared/ads", locals: {} %>
  </div>
</div>
