<!DOCTYPE HTML>
<html lang="en">
  <head>
    <meta content="text/html; charset=UTF-8;" http-equiv="Content-Type" />
    <title><%= @subject %></title>
  </head>
  <body>
    <h1>Welcome to ANRLeagues, <%= @user.display_name %></h1>
    <p>You've been registered for blah blah blah.</p>
    <p><%= link_to "Click here", login_url %> to log in!</p>
    <p><em>&mdahs;The ANRLeagues team</em></p>
  </body>
</html>
