<h1>Your password has been updated</h1>
<p>Your ANRLeagues password has been updated.</p>
<p>If you didn't change your password, please contact an admin immediately.</p>
<p><em>&mdash;The ANRLeagues team</em></p>
