<div class="modal fade" id="confirm-delete" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header danger">
              Are you sure you want to delete the specified <span id="modal-delete-model-name">item</span>?
            </div>
            <div id="modal-delete-message" class="modal-body" style="display:none"></div>            
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <%= link_to "Confirm deletion", "#", id:"modal-delete-confirmed", class: "btn btn-danger btn-ok", method: :delete %>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
$('[data-action="delete"]').on('click', function(e) {
    var t = $(this);
    e.preventDefault();
    var modelName = t.attr("data-model-name");

    if(modelName == undefined || modelName == ""){
      modelName = "item";
    }
    $('#modal-delete-model-name').html(modelName);
    $('#modal-delete-confirmed').attr("href",t.attr("data-href"));
    $('#confirm-delete').modal('show');
    if(t.attr("data-message") !== ""){
      $('#modal-delete-message').html(t.attr("data-message")).show();
    }
    else {
      $('#modal-delete-message').html("").hide();
    }
});

//$('#confirm-delete').on('show.bs.modal', function(e) {
  //$('#modal-delete-confirmed').attr("href",delete_url);
//});
</script>
