<% if model.errors.any? %>
  <div class="alert alert-danger">
    <h4>The following error(s) were found when saving:</h4>
    <ul>
      <% model.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>
