<!-- footer -->
<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <h4><%= link_to "About", "#" %></h4>
      </div>
    </div>
    <p><small>This website is not produced, endorsed, supported, or affiliated with <%= link_to "Fantasy Flight Games", "#", target:"_blank" %> and/or <%= link_to "Wizards of the Coast", "#", target:"_blank" %>.</small></p>
  </div>
</footer>
