
<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <p><%= link_to "About", "#" %></p>
      </div>
    </div>
    <p><small>This website is not produced, endorsed, supported, or affiliated with Fantasy Flight Games and/or Wizards of the Coast.</small></p>
  </div>
</footer>
