<h1>About <%= SITE_NAME %></h1>

<div class="row">
  <div class="media col-md-6">
    <div class="media-left">
      <%= gravatar("pacosgrove1@gmail.com") %>
    </div>
    <div class="media-body">
      <h3 class="media-heading">Paul C <small><%= link_to "@aniki21", "http://twitter.com/aniki21" %></small></h3>
      <p>Adopted Scot. I play games pretty well and guitar pretty badly, and have strong opinions about anime.</p>
      <p>My Netrunner career, such as it exists, has been marked primarily by defeat, but I like to think that it just means I'm constantly learning.</p>
    </div>
  </div>
</div>
