/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require font-awesome
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";

body{
  background: #555;
  color:#111;
}

body,footer{
  font-size:15px;
  font-family:'Lora', serif;
}

header{
  font-family:'Exo', sans-serif;
  font-size:1.2em;
}

#body{
  background: #FCFCFC;
  padding:70px 0 50px;
}

footer{
  color:#FCFCFC;
  padding:50px 0;
  margin:0;
  a{
    &:link,&:visited{
      color:#F9F9F9;
    }
    &:hover,&:active{
      
    }
  }
}

// Header
.navbar .navbar-brand{
  color:#FFF;
}

.navbar-inverse .navbar-nav > li > a:hover,
.navbar-inverse .navbar-nav > li > a:focus{
  background-color:#555;
  color:#FCFCFC;
}
.navbar-inverse .navbar-toggle{
  color:#FCFCFC;
}

.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus{
  background-color:#555;
  color:#FCFCFC;
}

// Footer
footer{
  p a{
    text-decoration: underline;
    &:hover,&:active{
      color:#DDD;
    }
  }
}

// General text
h1,h2,h3,h4{
  font-family:'Exo',sans-serif;
}

// Forms
.field_with_errors{
  select,input,textarea{
    border:1px solid #A94442;
  }
}

.form-group .help-block{
  margin-bottom:0;
}
