// Side colours
.runner{ color:red; }
.corp{ color: blue; }
// Factions colours
.anarch{ color:orangered; }
.criminal{ color:royalblue; }
.shaper{ color:limegreen; }
.jinteki{ color:crimson; }
.haas-bioroid{ color:blueviolet; }
.nbn{ color:darkorange; }
.weyland-consortium{ color:darkgreen; } 
.adam,.apex,.sunny-lebeau,.neutral{ color:#555; }
