@font-face {
	font-family: 'netrunner';
	src:font-url('netrunner.eot') format('embedded-opentype'),
		font-url('netrunner.woff') format('woff'),
		font-url('netrunner.ttf') format('truetype'),
		font-url('netrunner.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="nr-"], [class*=" nr-"] {
	font-family: 'netrunner';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

//
// Factions
//

.nr-anarch {
	color:orangered;
	&:before { content: "\e605\00a0"; }
}

.nr-criminal {
	&:before {content: "\e612\00a0"; }
	color:royalblue;
}
.nr-shaper {
  &:before { content: "\e613\00a0"; }
	color:limegreen;
}

.nr-hb,
.nr-haas-bioroid {
	&:before { content: "\e602\00a0"; }
	color:blueviolet;
}

.nr-weyland {
	&:before { content: "\e607\00a0"; }
	color:darkgreen;
}

.nr-jinteki {
	&:before { content: "\e609\00a0"; }
	color:crimson;
}

.nr-nbn {
	&:before { content: "\e60b\00a0"; }
	color:darkorange;
}

//
// Card sets
//

.nr-Core-Set {
	&:before { content: "\e618\00a0"; }
}

.nr-genesis-cycle {
	&:before { content: "\e616\00a0"; }
}

.nr-spin-cycle {
	&:before { content: "\e615\00a0"; }
}

.nr-cc,.nr-creation-and-control {
	&:before { content: "\e617\00a0"; }
}

.nr-hp,.nr-honor-and-profit {
	&:before { content: "\e614\00a0"; }
}

.nr-lunar-cycle {
	&:before { content: "\e619\00a0"; }
}

.nr-oc,.nr-order-and-chaos {
	&:before { content: "\e61a\00a0"; }
}

