<h1>
  <%= gravatar_image_tag(@user.email, :class => 'img-rounded', :gravatar => { :size => 50, :rating => "g" }) %>
  <%= @user.display_name %>
  <% unless @user.display_name == @user.jinteki_username %>
    <small><%= @user.jinteki_username %></small>
  <% end %>
</h1>

<% if @user.id == current_user.id %>
  <p><%= link_to "Edit profile", edit_profile_path, class: "btn btn-default" %></p>
<% end %>

<p>Not sure what other profile information should go here</p>
