<!DOCTYPE HTML>
<html lang="en">
  <head>
    <meta content="text/html; charset=UTF-8;" http-equiv="Content-Type" />
    <title><%= @subject %></title>
  </head>
  <body>
    <%= yield %>
    <p><em>&mdash;The ANRLeagues team</em></p>    
  </body>
</html>
